<!DOCTYPE html>
<html>
<head>
  <title>FREE AS IN ...</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <script type="text/javascript" src="/fonts/fontie/fontsmoothie.min.js" async></script>
  <style>
  @import url('/fonts/fontie/DINEngschriftStd-Regular.css');
  </style>

  <link rel="stylesheet" type="text/css" href="/pictos/pictos.css">
  <meta http-equiv="refresh" content="30" >


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>

</div> 
</body>
</html>
